.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.0em 1.5em;
    background-color: #ffd400;
    color: #16479d;
}

.navbar_logo {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.navbar_logo img {
    width: 40px;
    height: auto;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar li,
.navbar a {
    text-decoration: none;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #16479d;
}

.navbar li:hover > a {
    color: #FFF;
}

.user_info {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 1em;
}
.user_info span {
    color: #16479d;
}
.user_info h5 {
    color: #000000;
}

.authenticated {
    margin: 0 auto;
}